<!DOCTYPE html>
<html>

<head>
  <title>Email Template</title>
  <style type="text/css">
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    #root {
      background-color: #008F00;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 100%;
      height: 100%;
    }

    a {
      color: #3a8bbb;
      text-decoration: none;
      font-weight: 600;
    }

    #root {
      padding: 25px;
    }

    #logo,
    #content {
      margin: 0 auto;
    }

    #logo {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }

    #logo img {
      width: 100px;
      height: auto;
      object-fit: contain;
    }

    #content {
      background-color: #fff;
      border-radius: 5px;
      padding: 15px;
      width: 600px;
    }

    #team {
      border-top: 1px solid #ddd;
      margin-top: 25px;
      padding-top: 10px;
    }

    .name {
      text-transform: capitalize;
      font-weight: bold;
    }

    .qr {
      display: block;
      width: 324px;
      margin: 0 auto;
    }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    table tr {
      background: #f8f8f8;
      border: 1px solid #ddd;
      padding: .35em;
    }

    table th,
    table td {
      padding: .625em;
      text-align: center;
    }

    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  </style>


</head>

<body>
  <div id="root">
    <div id="content">
      <span id="logo">
        <img src="https://ik.imagekit.io/g7mnggmbl/pasar%20kol%20logo%203.png?updatedAt=1691993198019" alt="">
      </span>
      <p class="name">Hello <%= name %>,</p>
      <p>Thank you for purchase. Please show this ticket to the entrance gate.<strong>
        </strong></p>
      <img class="qr" src="<%= qr_code %>" />
      <table>
        <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" data-label="Column 1">
              <%= id_pesanan %>
            </td>
            <td data-label="Column 2">
              <%= type %>
            </td>
            <td data-label="Column 2">
              <%= qty %>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Alternatively, you can click <a href="<%= qr_code %>">here</a>.</p>
      <p id="team">Thanks,<br><a href="https://www.instagram.com/pasarkol_/">Pasar Kol by Condfe</a>
      <p>
    </div>
  </div>
</body>

</html>